@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
}

.login-background {
    background-image: url('hacker-1.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.signup-background {
    background-image: url('20397.png');
    /* background: linear-gradient(to top, red, green,blue); */
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: blur(.5px);
}

.login_nav,
.signup_nav {
    height: 70px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #93dff7;
    color: #93dff7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    box-shadow: 0px 5px 10px #93dff7;
}

.login_nav label,
.signup_nav label {
    color: #93e0f7d7;
    font-weight: 700;
    font-size: clamp(1.2em,3vw,1.5em);
    letter-spacing: 4PX;
    text-shadow: 0px 0px 8px #000000;
    font-family: "Acme", sans-serif;
}

.signup_nav label {
    text-shadow: 0 -0.01em 0.1em #FFF, 0.01em -0.02em 0.15em #004cff, 0.01em -0.05em 0.15em #003dca, 0.02em -0.15em 0.2em #0034ad, 0.04em -0.20em 0.3em #002e9b, 0.05em -0.25em 0.4em #002479, 0.06em -0.2em 0.9em #001e63, 0.1em -0.1em 1.0em #00123d;
    color: rgb(213, 213, 255);
}

.about {
    height: auto;
    width: auto;
    font-size: .8em;
}

.about a {
    text-decoration: none;
    margin: 0 8px;
    padding: 3px 0;
    color: inherit;
    display: inline-block;
    position: relative;
}

.about a::after {
    /*
    width: 100%;
    transform: scaleX(0);
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; */
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 50%;
    background: #fff;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
}

.about a:hover::after {
    /* transform: scaleX(1);
    transform-origin: bottom left; */
    width: 100%;
    left: 0;
}

.login-menu,
.reg-menu {
    /* display: none; */
    cursor: pointer;
    font-size: 20px;
}
.menu{
    display: none;
}
@media screen and (max-width: 600px) {
    .about {
        display: none;
    }

    .menu {
        display: block;
    }

    .login-container,
    .signup-container {
        min-width: 300px;
    }
    /* .forgot{
        font-size: 12px;
    } */
}

.login-sidebar,
.reg-sidebar {
    height: auto;
    width: 165px;
    position: fixed;
    top: auto;
    right: -200px;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #93dff7;
    font-size: 13px;
    transition: all .5s ease-in-out;
}

.login-close,
.reg-close {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.login-sidebar a {
    text-decoration: none;
    color: #93dff7;
    padding: 10%;
    border-bottom: 1px solid #93dff7;
}

.reg-sidebar a {
    text-decoration: none;
    color: #688bdb;
    padding: 10%;
    border-bottom: 1px solid #688bdb;
}

.login-sidebar a:hover {
    background: #93dff7;
    color: black;
}

.reg-sidebar a:hover {
    background: #0b41be;
    color: white;
}

.login-container,
.signup-container {
    height: auto;
    min-width: 320px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.7px solid rgb(33, 187, 214);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px #93dff7;
    color: whitesmoke;
}

.signup-background,
.signup_nav,
.signup-container,
.reg-side-bar {
    display: none;
}

/* .login-background,.login_nav,.login-container,.login-side-bar{
    display: none;
} */
h2 {
    text-align: center;
    font-size: clamp(1.8em,3.5vw,2em);
    margin: 10px 10px 20px 10px;
    text-shadow: 0px 1px 5px #00c3ff;
}

.input {
    display: flex;
    width: 100%;
    height: 28px;
    margin-top: 10px;
}

.login-container .material-symbols-outlined {
    height: auto;
    width: auto;
    margin: 0;
    color: rgb(213, 233, 241);
}

.signup-container .material-symbols-outlined {
    color: #99b5f5;
}

#logv-off {
    cursor: pointer;
}

#logv-on {
    display: none;
    cursor: pointer;
}

#regv-off {
    cursor: pointer;
}

#regv-on {
    display: none;
    cursor: pointer;
}

.login-container hr {
    border: 1px solid rgb(33, 187, 214);
}

.signup-container hr {
    border: 1px solid #99b5f5;
}

.input_content {
    width: 100%;
    padding-left: 8px;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    border-color: transparent;
    outline: none;
}

.login-container input::placeholder {
    color: rgba(224, 246, 247, 0.884);
    font-size: 15px;
}

.signup-container input::placeholder {
    color: #99b5f5;
    font-size: 15px;
}

#rememberme {
    margin: 0px 6px 0px 0px;
    border-radius: 8px;
    accent-color: rgba(161, 212, 233, 0.904);
}

#agree {
    margin: 0px 6px 0px 0px;
    border-radius: 8px;
    accent-color: #5a82e0;
}

.forgot {
    height: auto;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: clamp(0.7rem, 2.9vw, 0.8rem);
}

.remember {
    width: auto;
    display: flex;
    align-items: center;
}

.forgot-password {
    text-decoration: none;
    color: rgb(174, 233, 243);
}

.submit {
    display: flex;
    justify-content: center;
    margin: 8px 5px;
}

.log-submit,
.reg-submit {
    height: 35px;
    width: 80%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #93e0f7e1;
    color: rgb(3, 15, 26);
    border: none;
}

.log-submit:hover {
    box-shadow: 0px 0px 10px #93dff7;
    text-shadow: 0px 0px 5px #000000;
    color: white;
}

.reg-submit:hover{
    box-shadow: 0px 0px 12px #0051ffec;
    text-shadow: 0px 0px 5px #000000;
}

#signup,
#login {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    font-size: 14px;
    cursor: pointer;
}


#signup strong:hover {
    color: rgb(174, 233, 243);
    text-decoration: underline;
}

#login strong:hover {
    color: #8aa0cf;
}
