/* ----------------------admission------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

.admission {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background: url(../image/u.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    height: 80px;
    width: auto;
    position: absolute;
    top: 3%;
    left: 7%;
}

.information {
    height: 45%;
    width: 45%;
    margin-top: 20%;
}

.information img {
    height: auto;
    width: 100%;
}

.button {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.button span {
    height: auto;
    width: 170px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: .4s ease-in-out;
    padding: 5px;
    animation: background .8s infinite alternate;
}

@keyframes background {
    0% {
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        box-shadow: 0 0 0 0 #0093E9;
    }

    100% {
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        box-shadow: 0 0 10px 5px #0093E9;
    }
}

button {
    padding: 8px 25px;
    /* background: #a61d37; */
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: .4s ease-in-out;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
}

button:hover {
    background-position: right center;
}



/* ----------------------------------form------------------------------------- */


.contact-form {
    height: auto;
    width: 40%;
    background: #ffffff42;
    padding: 20px;
    border-radius: 10px;
}

.contact-name {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-form input,
select {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin: 15px 0;
    border: 1px solid #780206;
    outline: none;
    border-radius: 3px;
}

.contact-form input::placeholder {
    color: #75778a;
}

.contact-form input[type="submit"] {
    width: auto;
    padding: 5px 40px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    /* background: #1a2844; */
    color: #fff;
    transition: .4s ease-in-out;
    cursor: pointer;
    margin-left: 32%;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #780206 0%, #061161 51%, #780206 100%);
}



.contact-form input[type="submit"]:hover {
    background-position: right center;
}