@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');



body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
main{height: 100vh;}
.login-background {
    background-image: url('../image/05.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
}

.login-container,
.signup-container {
    height: auto;
    min-width: 340px;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #1a2844;
    border-radius: 15px;
    background: #fff;
    /* backdrop-filter: blur(5px); */
    box-shadow: 0px 0px 10px #1a2844d2;
    color: #1a2844;
}

.signup-container{
    display: none;
}

/* .login-container{
    display: none;
} */
h2 {
    text-align: center;
    font-size: clamp(1.8em,3vw,1.5em);
    margin: 10px 10px 20px 10px;
    text-shadow: 0px 1px 5px #1a284470;
}

.input {
    width: 100%;
    height: 28px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.fa-solid {
    height: auto;
    width: auto;
    margin: 0;
    color: #1a2844;
}
[class^="error"]{
    height: auto;
    width: 100%;
    font-size: clamp(0.6rem,2vw,0.7rem);
    padding-top: 4px;
    margin-bottom: -8px;
    color: red;
    /* text-shadow: 0px 0px 1px #f80000e7; */
}
[id^="error"]{
    height: auto;
    width: 100%;
    font-size: clamp(0.6rem,2vw,0.7rem);
    padding-top: 4px;
    margin-bottom: -8px;
    color: red;
    /* text-shadow: 0px 0px 1px #f80000e7; */
}


#v-off,#regv-off {
    cursor: pointer;
}

#v-on,#regv-on {
    display: none;
    cursor: pointer;
}


hr {
    border: 1px solid #1a2844;
}

.input_content {
    width: 100%;
    padding-left: 8px;
    background: transparent;
    border: none;
    color: black;
    font-size: 15px;
    border-color: transparent;
    outline: none;
}

input::placeholder {
    color: #1a2844b6;
    font-size: 15px;
}


#rememberme,#agree {
    margin: 0px 6px 0px 0px;
    border-radius: 8px;
    accent-color: #1a2844;
}


.forgot {
    height: auto;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: clamp(0.8rem, 3vw, 0.8rem);
}

.remember {
    width: auto;
    display: flex;
    align-items: center;
}

.forgot-password {
    text-decoration: none;
    color: #1a2844;
    font-weight: bold;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 8px 5px;
}

input[type=submit] {
    height: 35px;
    width: 80%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #1a2844;
    color: #fff;
    border: none;
}

input[type=submit]:hover {
    box-shadow: 0px 0px 10px #385183a6;
}


#signup,
#login {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    font-size: clamp(0.8rem, 3vw, 0.8rem);
}

#login strong{
    cursor: pointer;
}

#login strong:hover {
    color: #3e6fd8;
}