@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav-1 {
    height: 45px;
    width: 100%;
    background: #a61d37;
    color: #fff;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.nav-add {
    height: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-1 a,
.nav-add i {
    text-decoration: none;
    color: #fff;
}

.nav-icon a i {
    font-size: 1.2em;
    margin: 0 5px;
    transition: .4s ease-in-out;
}

.nav-icon a i:hover {
    color: #1a2844;
}

.nav-2 {
    height: 100px;
    width: 100%;
    background: #1a2844;
    /* background: #a61d37; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 2px;
    box-shadow: 0 3px 8px 1px #8585858c;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Poppins", sans-serif;
    transition: .8s;
    z-index: 50;
}

.c-logo {
    height: auto;
    display: flex;
}

.c-name {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
}

.nav-right {
    height: auto;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    position: relative;
}

.nav-right a::after {
    content: "";
    position: absolute;
    height: 1px;
    margin-bottom: -2px;
    width: 0;
    bottom: 0;
    left: 50%;
    background: #fff;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
}

.nav-right a:hover::after {
    width: 100%;
    left: 0;
}

.admission {
    color: #fff;
    background: #1a2844;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 0.95em;
}

.admission:hover {
    background: #fff;
    color: #1a2844;
    border: 1px solid transparent;
}

.sticky {
    height: 80px;
    position: fixed;
    top: 0;
    background: #fff;
    color: #1a2844;
    z-index: 100;
}

.sticky .logo {
    height: 60px;
    width: auto;
}

/* .sticky .nav-right a{
    font-weight: bold;
} */
.sticky .nav-right a::after {
    background: #1a2844;
    height: 2px;
}

.sticky .admission {
    color: #1a2844;
    background: #fff;
    border: 1px solid #1a2844;
}

.sticky .admission:hover {
    background: #1a2844;
    color: #fff;
}

/* -------------------Image Slider------------------- */
.slideshow-container {
    height: 85vh;
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    background: #1a28449d;
}

.slide {
    display: none;
}

.slide-image {
    height: auto;
    width: 100%;
    vertical-align: middle;
    z-index: -1;
    background-size: cover;
}

.text {
    width: 100%;
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.text h1 {
    width: 90%;
    font-size: 3em !important;
    font-weight: 900;
}

.text p {
    width: 75%;
    font-size: 0.95em;
    margin: 20px 0;
    position: relative;
}

.button {
    height: auto;
    width: 25%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.button button:nth-child(1) {
    background: #fff;
    color: #1a2844;
}

.button button:nth-child(2) {
    background: #1a2844;
}

.slidebar {
    position: absolute;
    left: 48%;
    top: 85%;
}

.bar {
    height: 4px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #283652;
}

.fade {
    height: auto;
    width: 90%;
    position: relative;
    animation: fade 1.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 0.9
    }
}

.search-cource {
    height: 150px;
    width: 100%;
    padding: 1% 10%;
}

.search-cource form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    box-shadow: 0 0 8px 1px #8585858c;
    border-radius: 5px;
    margin-top: -60px;
    z-index: 99;
    position: relative;
    background: #fff;
}

.search-cource .s-item {
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

}

.search-cource .s-item label {
    color: #1a2844;
    font-weight: 600;
}

.s-input {
    height: 40px;
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s-name {
    height: 100%;
    width: 90%;
    outline: none;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

#s-name::placeholder {
    color: #c8c8c8;
}

#s-option {
    height: 40px;
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    color: #c8c8c8;
    padding: 0px 10px;
    outline: none;
    cursor: pointer;
}

#s-option option {
    background: #fff;
    color: #1a2844;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.search-cource button {
    color: #fff;
    background: #1a2844;
    padding: 1% 8%;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

.information {
    height: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 50px;
}

.content {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content h1 {
    color: #1a2844;
    font-size: 2.5em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.content button {
    width: 135px;
    background: #a61d37;
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.content button:hover {
    background: #1a2844;
    color: #fff;
}

.information .image {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.information .image .image-1 {
    height: 100%;
    width: auto;
    margin-top: -25px;
}

.information .image .image-1 img {
    height: 100%;
    width: auto;
    border-radius: 5px;
}

.information .image .image-2 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.information .image .image-2 img {
    height: 48%;
    width: auto;
    border-radius: 5px;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url(../image/09.jpg);
    background-size: cover;
    background-position: center -65px;
    color: white;
    margin-top: 15px;
}

.b-image {
    position: relative;
    z-index: 1;

    &:before {
        background: #1a2844d9;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.banner-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 20;
    color: #fff;
    padding: 5% 10%;
    text-align: center;
}
.banner-content h1{
    font-size: 3em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.banner-button button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9em;
    margin: 0 10px;
    transition: .5s ease-in-out;
}
.banner-button button:nth-child(1){
    background: #a61d37;
    color: #fff;
}
.banner-button button:nth-child(2){
    background: #fff;
    color: #1a2844;
}
.banner-button button:nth-child(1):hover{
    background: #a61d36c5;
}
.banner-button button:nth-child(2):hover{
    background: #ffffffd5;
}

.facility{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: right;
    position: relative;
}
.facility img{
    height: 100%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: -200px;
}
.facility-content{
    height: 100%;
    width: 50%;
    background: #1a2844;
    color: #fff;
    padding: 25px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.facility-content div{
    height: 110px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.facility-content div i{
    font-size: 3.1em;
    margin-right: 15px; 
    height: 90%;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facility-content div span{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.facility-content div span p{
    line-height: 1.6;
}
.facility-content div span label{
    font-size: 1.3em;
    font-weight: 600;
}

/* ---------------------------footer------------------------- */

footer {
    height: 400px;
    width: 100%;
    background-image: url(../image/03.jpg);
    background-size: cover;
    background-position: center -65px;
    box-shadow: 0 0 5px 1px black;
    color: white;
    margin-top: 15px;
}

.footer {
    position: relative;
    z-index: 1;

    &:before {
        background: #1a2844e8;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.footer-sec1 {
    height: calc(400px - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 15;
}

.footer-content {
    height: 65%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

[class^=col] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icon {
    height: auto;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.social-icon a {
    height: 30px;
    width: 30px;
    text-decoration: none;
    font-size: 1.1em;
    background: #fff;
    color: #1a2844;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: .3s ease-in;
}

.social-icon a:nth-child(1):hover,
.social-icon a:nth-child(3):hover {
    background-color: #126bc4;
    color: #fff;
}

.social-icon a:nth-child(2):hover {
    background-color: #2cd46b;
    color: #fff;
}

.social-icon a:nth-child(4):hover {
    background-color: #000;
    color: #fff;
}

.social-icon a:nth-child(5):hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
}

.col2 a,
.col3 a,
.col4 a {
    text-decoration: none;
    transition: .3s ease-in-out;
    color: #fff;
}

.col2 a:hover,
.col3 a:hover {
    margin-left: 3px;
}

.col4 i {
    margin: 5px;
    font-size: 1.2em;
    color: #a61d37;
}

.col4 label {
    margin-left: 10px;
    display: inline-block;
}

.footer-sec2 {
    height: 60px;
    width: 100%;
    background: #1a2844;
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

/* ------------------company---------------------- */

.company-reqruiter{
    height: auto;
    width: 100%;
    padding: 50px;   
}
.company-reqruiter h1{
    color: #fff;
    background: #1a2844;
    text-align: center;
    padding: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.company-gallery{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px 0;
}
.company{
    height: 115px;
    width: 200px;
    border: 2px inset #1a2844;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    contain: content;
    margin: .8em .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-image{
    height: 100%;
    width: auto;
}

/* -------------assistance------------- */

.assistance{
    height: 105px;
    width: 60px;
    position: fixed;
    /* border: 1px solid; */
    bottom: 9%;
    right: 1%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.assistance a{
    height: auto;
    width: auto;
    background: #a61d37;
    color: #fff;
    font-size: 25px;
    border-radius: 15px;
}
.assistance a:nth-child(1){
    padding: 5px 10px;
}
.assistance a:nth-child(2){
    padding: 3px 15px;
}
